<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/assests/CSS/style.css" type="text/css" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery.js"></script>
    
    <title>Burger</title>
</head>
<body>
    {{{ body }}}
    <script src="/assests/JS/burg.js"></script>
</body>
</html>