@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');
@import url('https://fonts.googleapis.com/css?family=Changa&display=swap');
html, body {
    height: 100%;
}
body {
    margin: 0; 
}

header {
    position: relative;
    overflow: hidden;
}

img {
    position: absolute;
    margin:0 auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    width: 1701px;
    height: 200px;
    overflow: hidden;
    opacity: 100%
}

.bottomimg {
    position: relative;
    margin-top: -112px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    width: 1701px;
    height: 170px;
    overflow: hidden;
    opacity: 90%

}

.main {
    background-color: #000000;
    height: 79%;
    overflow-x: hidden;


}

.line {
    font-family: 'Changa', 'open sans' ;
    color: white;
}

.title {
    font-family: 'Akronim', 'open sans' ;
    
    margin:0 auto;
    padding: 10px 62px;
    left: 0;
    right: 0;
    width: 100px;
    font-size: 3em;
    text-align: center;
    color: #501b1b;
    border: 2px black solid;

    background-color: #ffffffe3

}

.notHead {
    font-family: 'Akronim', 'open sans' ;
    color: #501b1b;
    text-align: center;
    background-color: #ffffffe3
}

.eatenHead {
    font-family: 'Akronim', 'open sans' ;
    color: #501b1b;
    text-align: center;
    background-color: #ffffffe3

}

button {
    font-family: 'Akronim', 'open sans' ;
    padding: 7px;
    width: 170px;
    font-size: 2em;
    height: 47px;
    color: #501b1b;
    cursor:pointer;
    background-color: #ffffffe3
}

.eatUpDiv {
    position: relative;
    height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}

#notEaten {

    width: 50%;
    float: left;
    
}

#notEatenNest {
    width: 200px;
 
    margin:0px auto;

    left: 0px;
    right: 0;
}

.eaten {
    width: 50%;
    float: left;


}

.eatenNest {
    width: 200px;
 
    margin:0px auto;

    left: 0px;
    right: 0;
}

.form {
    
    position: relative;
    z-index: 1;
    height: 10%;
    margin-bottom: 50px;
}

#addBurger {
 
    margin:0 auto;
    left: 0;
    right: 0;
    width: 176px
}

.grillBut {
    margin-left:-1px;
    background-color: #ffffffe3
}

.txtArea {
    margin: 20px 0;
    
    width: 250px;
    margin-left: -49px;
    height: 50px;
}

.orderBur {
    margin-left:24px;
}

.delBur {
    margin-left:37px;
}

.notHead {
    border: 2px black solid;
    width: 214px;
    padding: 10px;
    font-size: 2em;
}

.eatenHead {
    border: 2px black solid;
    width: 214px;
    padding: 10px;
    font-size: 2em;
}

@media only screen and (max-width: 600px) {
  .eatUpDiv {
    position: relative;
    height: 400px;
     overflow-y: scroll;
    overflow-x: hidden;
}

img {

    width: 600px;

}
.bottomimg {

    width: 600px;

}

.notHead {

    font-size: 1.5em
}

.eatenHead {

    font-size: 1.5em
}

.delBur {

    font-size: 1.5em
}

.orderBur {
    font-size: 1.5em
}

.grillBut {
    font-size: 1.5em
}

button {
    font-family: 'Akronim', 'open sans' ;
    padding: 5px;
    width: 119px;
    font-size: 2em;
    height: 47px;
    color: #501b1b;
    cursor:pointer;
    background-color: #ffffffe3
}

.line {
    font-size: .9em;
}


}

@media only screen and (max-width: 400px) {
  .eatUpDiv {
    position: relative;
    height: 252px;
    overflow-y: scroll;
    overflow-x: hidden;
}

img {

    width: 400px;

}
.bottomimg {

    width: 400px;

}

.notHead {

    font-size: 1em;
     border: 2px black solid;
    width: 146px;
    margin-left: 10px;
}

.eatenHead {

    font-size: 1em;
     border: 2px black solid;
    width: 140px;
    margin-left: 10px;
}

.delBur {

    font-size: 1em
}

.orderBur {
    font-size: 1em
}

.grillBut {
    font-size: 1em;
    margin-left:36px;
}

.txtArea {
    width: 247px;
}

button {
    font-family: 'Akronim', 'open sans' ;
    padding: 5px;
    width: 81px;
    font-size: 2em;
    height: 47px;
    color: #501b1b;
    cursor:pointer;
    background-color: #ffffffe3
}

.line {
    font-size: .7em;
    margin-left: 12px;
}


}